<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a routerLink="/menu">Create Menu</a></li>
            <li><a routerLink="/list-menu">List Menu</a></li>
            <!--
            <li><a routerLink="/fileupload">File Upload</a></li>
            <li><a routerLink="/search">Search</a></li>
            <li><a routerLink="/category">Category</a></li>
            <li><a routerLink="/auth">Authentication</a></li>
            <li><a routerLink="/elastic">Elasticsearch</a></li>
            <li><a routerLink="/corefremenu">Core Fre Menu</a></li>
            <li>{{ authUser.email }}</li>
            -->
        </ul>
    </div>
</nav>
