<hr>
<div class="form-group">
    <div class="row">
        <div class="container">
            <input type="text" [(ngModel)]="menuItemSearchValue" (keyup)="onSearchForMenuItemSuggestion($event.target.value)" placeholder="search value ..." class="ticketinginput" />
            <h4>{{ currentOperation }} <span class="label label-default">{{ numberOfRecords }}</span></h4>
        </div>  
    </div>  
    <div class="row">
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>path</th>
                        <th>tags</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody *ngFor="let menuItem of menuItemList">
                    <tr>
                        <th>{{ menuItem.id }}</th>
                        <th>{{ menuItem.name }}</th>
                        <th>{{ menuItem.path }}</th>
                        <th>{{ menuItem.tags }}</th>
                        <th>{{ menuItem.description }}</th>
                        <th>
                                <button  type="button" class="btn btn-primary"
                                (click)="onEditMenuItem(menuItem.id, menuItem.name, menuItem.path, menuItem.tags, menuItem.description)">Edit</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>  
    </div>
</div>