<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h2>riza.horasan:dojo</h2>
        </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <app-header></app-header>
    </div>
  </div>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-file-upload></app-file-upload>
    </div>
  </div>
</div>
<hr>
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <app-search></app-search>
      </div>
    </div>
  </div>
-->

  <div class="row">
      <div class="col-xs-12">
        <!-- <app-plans *ngIf="loadedFeature === 'plans'"></app-plans>
        <app-todo-list *ngIf="loadedFeature != 'plans'"></app-todo-list> -->
        <router-outlet></router-outlet>
      </div>
    </div>

