<hr>
<div class="form-group">
    <div class="row">
        <div class="container">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">Competitor Name:</span>
                    <input id="msg" type="text" class="form-control" name="searchName" placeholder="Name"
                        (keyup)="onSearchNameKey($event)" />
                </div>
            </div>

            <div class="col-xs-6">

                <button id="getCompetitorInfo" type="button" class="btn btn-primary"
                    (click)="onGetCompetitorInfo($event)">Get Competitor
                    Info</button>
                <label *ngIf="errorOccured">
                    <input type="checkbox" value="" (change)="onShowErrorChange($event)">Show Error Response</label>
            </div>

            <div class="col-xs-15">
                <hr>
                <div *ngIf="errorMessage" class="alert alert-warning">
                    <strong>Warning!</strong> {{errorMessage}}
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>CompetitorId</th>
                        <th>Name</th>
                        <th>Accumulated Points</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody *ngFor="let competitionResult of competitionResultFromApi">
                    <tr>
                        <th>{{ competitionResult.wsCompetitor.competitorId }}</th>
                        <th>{{ competitionResult.wsCompetitor.name }}</th>
                        <th>{{ competitionResult.accumulatedPoints }}</th>
                        <th>{{ competitionResult.ranking }}</th>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="showError" class="col-xs-6">
                    <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Time Stamp</th>
                                    <th>Message</th>
                                    <th>Code</th>
                                    <th>HTTP Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>{{ errorResponse.timeStamp }}</th>
                                    <th>{{ errorResponse.message }}</th>
                                    <th>{{ errorResponse.code }}</th>
                                    <th>{{ errorResponse.status }}</th>
                                </tr>
                            </tbody>
                        </table>
                </div>
        </div>
    </div>
</div>