<hr>
<form #authForm='ngForm'>
<div class="form-group">
    <div class="row">
        <div class="container">
                <div class="col-xs-6">
                        
                        <div class="input-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control"
                            ngModel
                            name="email"
                            required
                            email
                            >    
                        </div>
                        <div class="input-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control"
                            ngModel
                            name="password"
                            required
                            password
                            minlength="6"
                            >
                        </div>
                           
                        <button class="btn btn-primary" type="button" (click)="onSignUp(authForm)"
                        [disabled]="!authForm.valid">
                        Sign Up
                        </button>
                        <button class="btn btn-primary" type="button" (click)="onLogin(authForm)"
                        [disabled]="!authForm.valid">
                        Login
                        </button>
                </div>
        </div>
    </div>
</div>
</form>